
body {
	position: relative;
	background-color: rgb(240, 240, 240);
	background-attachment: fixed;
	background-blend-mode: lighten;
	margin: 0;
}

/* =Navigation Bar
______________________________________ */

button {
	-webkit-writing-mode: horizontal-tb !important;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	font: 400 11px system-ui;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: 400;
	font-stretch: normal;
}

button, input {
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
}

.navbar {
	background-color: rgb(90, 170, 185, 0.2);
	height: 55px;
	padding: inherit;}


#btn-nvg {
	display: flex;
	width: 138px;
	max-height: 58px;
	cursor: pointer;
	border-radius: 4px;
	background-color: rgb(0, 169, 167);
	overflow: hidden;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 26px;
	text-align: center;
	color: white;
	margin-left: 60px;}
	
#navbarRight {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float:right;
	font-size: 16px;}
		
#navbarRight:hover {
		background-color: rgb(0, 169, 167);
		border-radius: 4px;}

#navbarPlot {
	overflow: hidden;
	float:right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;}
	
#navbarPlot:hover {
	background-color: rgb(0, 169, 167);
	border-radius: 4px;}


#navbarCollapse {
	font-size: 17px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;}


.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;}
.dropdown-menu a {
	float: none;
	color: black;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
	text-align: left;}
.dropdown-menu a:hover {
	background-color: rgb(0, 190, 200, 0.5);}

#navbarCollapse:hover .dropdown-menu {
	display: block;}

	
/* =Box container
______________________________________ */

#sumbox {
	background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: 600px;
	height: auto;
	font-family: Gill Sans, sans-serif;
	margin-top: 50px; 
	margin-bottom: 100px;
	padding: 10px 20px 15px;
	border-radius: 4px;
}

#vizbox {
	position: relative;
	margin-left: 50px;
	margin-top: 50px; 
	margin-bottom: 100px;
	background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: 400px;
	height: 420px;
	font-family: Gill Sans, sans-serif;
	padding: 2px 0px 100px 60px;
	border-radius: 4px;
}


#maxtempbox {
	background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: 580px;
	height: auto;
	font-family: Gill Sans, sans-serif;
	margin-top: 50px; 
	margin-bottom: 100px;
	padding: 10px 20px 15px;
	border-radius: 4px;
}

#max-temp-img {
	width:500px;
	height:350px;
	float: top;}


#comparisonbox {
	background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: 1080px;
	height: auto;
	font-family: Gill Sans, sans-serif;
	margin-top: 50px; 
	margin-bottom: 100px;
	padding: 10px 60px 10px 60px;
	border-radius: 4px;
}

#dataBox {
	background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
	margin-top: 50px; 
	margin-bottom: 100px;
	padding: 10px 60px 10px 60px;
	border-radius: 4px;
}

.table {
	overflow-x: auto; 
	overflow-y: auto;
	max-height:470px; 
	max-width: auto;
	overflow: auto;
	width: auto;
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
}

.table-layout {
	table-layout: fixed;
	width: 100%;
}

/* =Images
______________________________________ */
#city-lat-img {
	width:370px;
	height:300px;
	float: left;
	position: center;
}

p.a {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;}

#max-temp-img {
	width:500px;
	height:350px;
	float: top;}

/* =Titles
______________________________________ */

.title {
	color: rgb(0, 169, 167);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder; 
	padding-top: 17px;
	font-size: 27px;}
	
.comp-title {
	color: rgb(0, 169, 167);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder; 
	padding-top: 14px;
	padding-left: 100px;
	font-size: 22px;}
}

p.f {
	color: rgb(120, 120, 120);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;}
	

	
/* =Panel images
______________________________________ */

#vizBar {
	padding: 6px 6px;
	text-decoration: none;
	float: right;}
			
#vizBar:hover {
	background-color: rgb(0, 169, 167);
	border-radius: 4px;}
	
#viz-img {
	width: 150px;
	height: 120px;
	float: right;
	border-radius: 6px;}
	
#comp-bar {
	position:center;
	text-decoration: none;}

#comp-bar:hover {
	background-color: rgb(0, 169, 167);
	border-radius: 4px;}

#comp-img {	
	width:435px;
	height:300px;
}


/* =Footer
______________________________________ */
	
.footer {
	position: fixed;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: rgb(120, 123, 123);
	text-align: center;
	padding-top: 10px;
	border-top-style: solid;
	border-top-width: 5px; 
	border-top-color: rgb(0, 169, 167);
}

#page-container {
	position: fixed;
}

p.d {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;}
	


/* Media Queries 
____________________________________________*/

@media (max-width: 991px) {
	#sumbox{
		width: auto;
		height: auto;
		margin-top: 50px; 
		padding: 10px 20px 15px;
	}
	
	#maxtempbox{
		width: auto;
		height: auto;
		margin-top: 50px; 
		padding: 10px 20px 15px;
	}
	
	#max-temp-img {
		width: 100% !important;
		height: 100% !important;
	}
	
	#vizbox{
		margin-left: 5%;
		margin-top: -10%; 
		margin-bottom: 100px;
		width: 450px;
		height: 400px;
		padding: 10px 50px 15px 80px;

	}
	
	#viz-img {
		width: 150px;
		height: 120px;
	}
	
	#comparisonbox{
		width: auto;
		height: auto;
		margin-top: 50px; 
		padding: 10px 20px 15px;
	}
	
	#dataBox {
		width: auto;
		height: auto;
		margin-top: 50px; 
		margin-bottom: 100px;
		padding: 10px 60px 10px 60px;
		border-radius: 4px;
	}
		
}



@media (max-width: 768px) {
	#vizbox {
		width: auto;
	}
	
	#btn-nvg {
		width: auto;
		height: auto;
	}
	.navbar {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}

	.navbar-brand {
		padding: 8px !important;
	}	
}

@media (max-width: 690px) {
	#comp-img {
		vertical-align: middle;
		width: 100% !important;
		height: 100% !important;
	}
	
	#city-lat-img {
		width: 100% !important;
		height: 100% !important;
	}
	.comp-title {
		padding-left: 90px;
		padding-right: 90px;
		font-size: 20px;
	}
}



/*

